{# -- extend base layout -#}
{% extends "base.html" %}

{% block extcss %}
    <link href="{{ url_for('static', filename = 'css/plugins/dataTables.bootstrap.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">机型管理</h2>
        </div>
        <!-- /.col-lg-12 -->
        <div class="col-lg-12">
            {% include 'flash.html' %}
        </div>
        <!-- /.col-lg-12 -->
    </div>
   <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="dropdown pull-right">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Menu <b class="caret"></b></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/asset/model/add">机型添加</a></li>
                        </ul>
                    </div>
                    <h3 class="panel-title"><i class="fa fa-truck fa-fw"></i> 机型列表</h3>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover" id="model_list">
                            <thead>
                                <tr>
                                    <th>编码</th>
                                    <th>类型</th>
                                    <th>厂商</th>
                                    <th>设备型号</th>
                                    <th>CPU型号</th>
                                    <th>CPU数量</th>
                                    <th>内存大小</th>
                                    <th>网口数量</th>
                                    <th>硬盘</th>
                                    <th>闪存</th>
                                    <th>RAID</th>
                                    <th>远程管理</th>
                                    <th>虚拟化</th>
                                    <th>高度</th>
                                    <th>备注</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for model in models %}
                                <tr class="odd gradeX">
                                  <td>{{model["id"]}}</td>
                                  <td>{{model["type"]}}</td>
                                  <td>{{model["manufacturer"]}}</td>
                                  <td>{{model["model"]}}</td>
                                  <td>{{model["cpu_model"]}}</td>
                                  <td>{{model["cpu_num"]}}</td>
                                  <td>{{model["memory_size"]}}</td>
                                  <td>{{model["netcard_num"]}}</td>
                                  <td>{{model["harddisk"]}}</td>
                                  <td>{{model["flashdisk"]}}</td>
                                  <td>{{model["raid"]}}</td>
                                  <td>{{model["remote_manage"]}}</td>
                                  <td>{{model["virtual"]}}</td>
                                  <td>{{model["unit"]}}</td>
                                  <td>{{model["desc"]}}</td>
                                  <td><a href="edit_{{model["id"]}}" class="btn btn-success btn-xs" role="button">编辑</a>
                                      <button class="btn btn-success btn-xs" data-toggle="modal" data-target="#del_{{model["id"]}}">删除</button>
                                  </td>
                                        <!-- Modal -->
                                        <div class="modal fade" id="del_{{model["id"]}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                        <h4 class="modal-title" id="myModalLabel">确认删除？</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        删除机型<b>{{model["id"]}}</b>，将不能还原，确认删除吗？？
                                                    </div>
                                                    <div class="modal-footer">
                                                        <a href="del_{{model["id"]}}" class="btn btn-danger" role="button">删除</a>&nbsp;&nbsp;
                                                        <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
                                                    </div>
                                                </div>
                                                <!-- /.modal-content -->
                                            </div>
                                            <!-- /.modal-dialog -->
                                        </div>
                                        <!-- /.modal -->
                                </tr>
                                {% endfor%}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>
{% endblock %}

{% block extjs %}
    <script src="{{ url_for('static', filename = 'js/plugins/dataTables/jquery.dataTables.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/plugins/dataTables/dataTables.bootstrap.js') }}"></script>
{% endblock %}

{% block extscript %}
<script>
$(document).ready(function() {
    $('#model_list').dataTable({
        "bJQueryUI": true,
        "sScrollX": "100%"
    });
});

// popover demo
$("[data-toggle=popover]")
    .popover()
</script>
{% endblock %}
